In [2]:
import numpy as np

tstar = 1.96
p = .85
n = 659

se = np.sqrt((p*(1-p))/n)
se

0.01390952774409444

In [3]:
lcb = p - tstar * se
ucb = p + tstar * se
(lcb, ucb)

(0.8227373256215749, 0.8772626743784251)

In [5]:
import statsmodels.api as sm

In [6]:
sm.stats.proportion_confint(n * p, n)

(0.8227378265796143, 0.8772621734203857)

In [7]:
import pandas as pd

df = pd.read_csv("Cartwheeldata.csv")
df.head()

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56,F,1,Y,1,62.0,61.0,79,Y,1,7
1,2,26,F,1,Y,1,62.0,60.0,70,Y,1,8
2,3,33,F,1,Y,1,66.0,64.0,85,Y,1,7
3,4,39,F,1,N,0,64.0,63.0,87,Y,1,10
4,5,27,M,2,N,0,73.0,75.0,72,N,0,4

In [10]:
mean = df["CWDistance"].mean()
sd = df["CWDistance"].std()
n = len(df)

(mean, sd, n)

(82.48, 15.058552387264855, 25)

In [11]:
tstar = 2.064
se = sd/np.sqrt(n)
se

3.0117104774529713

In [12]:
lcb = mean - tstar * se
ucb = mean + tstar * se
(lcb, ucb)

(76.26382957453707, 88.69617042546294)

In [13]:
sm.stats.DescrStatsW(df["CWDistance"]).zconfint_mean()

(76.57715593233026, 88.38284406766975)

# Confidence Interval for Paired Population

In [16]:
import pandas as pd
import numpy as np
import matplotlib
matplotlib.use('Agg')
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt
import statsmodels.api as sm

url = "nhanes_2015_2016.csv"
da = pd.read_csv(url)
da.head()

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,...,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
0,83732,1.0,NaN,1.0,1,1,62,3,1.0,5.0,...,124.0,64.0,94.8,184.5,27.8,43.3,43.6,35.9,101.1,2.0
1,83733,1.0,NaN,6.0,1,1,53,3,2.0,3.0,...,140.0,88.0,90.4,171.4,30.8,38.0,40.0,33.2,107.9,NaN
2,83734,1.0,NaN,NaN,1,1,78,3,1.0,3.0,...,132.0,44.0,83.4,170.1,28.8,35.6,37.0,31.0,116.5,2.0
3,83735,2.0,1.0,1.0,2,2,56,3,1.0,5.0,...,134.0,68.0,109.8,160.9,42.4,38.5,37.7,38.3,110.1,2.0
4,83736,2.0,1.0,1.0,2,2,42,4,1.0,4.0,...,114.0,54.0,55.2,164.9,20.3,37.4,36.0,27.2,80.4,2.0

In [18]:
da["SMQ020x"] = da.SMQ020.replace({1: "Yes", 2: "No", 7:np.nan,
                                  9:np.nan})
da["SMQ020x"]

0       Yes
1       Yes
2       Yes
3        No
4        No
       ...
5730    Yes
5731     No
5732    Yes
5733    Yes
5734     No
Name: SMQ020x, Length: 5735, dtype: object

In [20]:
da["RIAGENDRx"]=da.RIAGENDR.replace({1:"Males",2:"Females"})
da["RIAGENDRx"]

0         Males
1         Males
2         Males
3       Females
4       Females
         ...
5730    Females
5731      Males
5732    Females
5733      Males
5734    Females
Name: RIAGENDRx, Length: 5735, dtype: object

In [22]:
dx = da[["SMQ020x","RIAGENDRx"]].dropna()
pd.crosstab(dx.SMQ020x, dx.RIAGENDRx)

RIAGENDRx  Females  Males
SMQ020x
No            2066   1340
Yes            906   1413

In [26]:
#dx["SMQ020x"] = dx.SMQ020x.replace({"Yes":1, "No":0})

dz = dx.groupby("RIAGENDRx").agg({"SMQ020x":[np.mean, np.size]})
dz.column = ["Proportion", "Total n"]
dz

C:\Users\Admin\anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  after removing the cwd from sys.path.

            SMQ020x
               mean  size
RIAGENDRx
Females    0.304845  2972
Males      0.513258  2753

In [27]:
p = .304845
n = 2972
se_female = np.sqrt(p*(1-p)/n)
se_female

0.00844415041930423

In [28]:
p = .513258
n = 2753
se_male = np.sqrt(p*(1-p)/n)
se_male

0.009526078787008965

In [29]:
se_diff = np.sqrt(se_female**2 + se_male**2)
se_diff

0.012729880335656654

In [30]:
d = .304845 - .513258
lcb = d - 1.96 * se_diff
ucb = d + 1.96 * se_diff
(lcb, ucb)

(-0.23336356545788706, -0.18346243454211297)

# Difference in 2 population means

In [31]:
da["BMXBMI"].head()

0    27.8
1    30.8
2    28.8
3    42.4
4    20.3
Name: BMXBMI, dtype: float64

In [33]:
da.groupby("RIAGENDRx").agg({"BMXBMI":[np.mean,np.std,np.size]})

              BMXBMI
                mean       std    size
RIAGENDRx
Females    29.939946  7.753319  2976.0
Males      28.778072  6.252568  2759.0

In [34]:
sem_female = 7.753319 / np.sqrt(2976)
sem_male = 6.252568 / np.sqrt(2759)
(sem_female, sem_male)

(0.14212523289878048, 0.11903716451870151)

In [35]:
sem_diff = np.sqrt(sem_female**2 + sem_male **2)
sem_diff

0.18538993598139303

In [36]:
d = 29.939946 - 28.778072

In [37]:
lcb = d - 1.96 * sem_diff
ucb = d + 1.96 * sem_diff
(lcb, ucb)

(0.798509725476467, 1.5252382745235278)